@import url("https://bootswatch.com/4/superhero/bootstrap.min.css");
.search-bar,
#data-panel .card,
.restaurant-detail,
#create {
  font-family: "Noto Serif TC", serif;
}
a {
  text-decoration: none;
  color: #f0c05a;
}
/*for main.handlebars*/
header {
  overflow: hidden;
}
.navbar .navbar-brand {
  color: #f0c05a;
}

.navbar .navbar-brand:hover {
  color: #f0c05a;
}
nav a {
  font-family: "Oswald", sans-serif;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center
    url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-size: cover;
  filter: blur(3px);
}

.restaurant-show-title {
  position: relative;
  top: -200px;
  color: #f0c05a;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.description {
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

footer {
  background-color: #39444a;
}
.list-unstyled li a {
  color: #f0c05a;
}
.list-unstyled li a:hover {
  color: #f0c05a;
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 700px;
  background-color: #f0c05a;
  border-radius: 25px;
  padding: 20px 30px;
  border: 0;
  margin-top: -110px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #39444a;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #39444a;
  color: white;
}

.form-control:focus {
  box-shadow: 10px;
  border-color: #f0c05a;
}

.card {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 185px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #f0c05a;
  font-size: 0.9rem;
}

@media screen and (max-width: 992px) {
  .card img {
    height: 110px;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}

#wrapper {
  min-height: 30vh;
}
.restaurant-detail {
  font-size: 20px;
}
